---
import styles from './MenuButton.module.css';
import startImage from '../../assets/startPicture.png';
---

<div class={styles.container}>
   <img src={startImage.src} alt="Start Picture" class={styles.startPicture} />
    <div class={styles.menu}>
        <button class={styles.button}>
       <a href="/" class={styles.menuItem}>News   </a>
        </button>
        <button class={styles.button}>
          <a href="/blog" class={styles.menuItem}>Blog</a>
        </button>
        <button class={styles.button}>
          <a href="/about" class={styles.menuItem}>About</a>
        </button>
        <button class={styles.button}>
          <a href="/lake" class={styles.menuItem}>Lake</a>
        </button>
        <button class={styles.button}>
          <a href="/lifehack" class={styles.menuItem}>LifeHack</a>
        </button>
        <button class={styles.button}>
          <a href="/rating" class={styles.menuItem}>Rating</a>
        </button>
        <button class={styles.button}>
          <a href="/contact" class={styles.menuItem}>Contacts</a>
        </button>
        <button class={styles.button}>
          <a href="/events" class={styles.menuItem}>Events</a>
        </button>
    </div>
</div>

